<div class="row header">
    <div class="col item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <p>Home</p>
    </div>
    <div class="col item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <p>Messages</p>
    </div>
    <div class="col item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <p>WishList</p>
    </div>
    <div class="col item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <p>Settings</p>
    </div>
    <div class="col item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <p>My account</p>
    </div>
</div>