.header{
    width: 80%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 5vh;
    .item{
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        text-align: center;
    }
    .item:hover{
        background-color: rgba($color: #424242, $alpha: 1.0);
        color:white;
    }
    
    
}