<div class="full-container">
    <div class="row">
        <div class="col-2">
            <input type="checkbox" name="radio" id="radio">
            <label for="radio" class="for">Selecciona uno</label>
        </div>
        <div class="col-6"></div>
        <div class="col">
            <input type="text" name="search" id="search" style="width: 100%">
        </div>
    </div>

    <hr>
    <div class="row" *ngFor="let item of data">
        <div class="col-1">
            <input type="checkbox" name="" id="">
        </div>
        <div class="col-11">
            <app-item-table [item]="item"></app-item-table>
        </div>
    </div>
</div>